.content{

	background-color: lightgray;
	border: 1px black solid;
}

.box{

	background-color: gray;
	border: 1px black solid;
	width: 200px;
	height: 100px
	overflow: hidden;
	margin: auto;
	padding: 0 0 0 50px;

}

.box1{

	position: fixed;
	top: :100px;
	left: 100px;
}