.content{

	background-color: lightgray;
	border: 1px black solid;
}

.box{

	background-color: gray;
	border: 1px black solid;
	width: 200px;
	height: 100px;
	float: left;
	overflow: hidden;
}

.box::after,.box::before{
	content: "test";
	clear: both;
}