body{
	background-color: gray;
}

.box{

	width: 100px;
	height: 100px;
	background: white;
	transition-property: all;
	transition-duration: 1s;
}

.box:hover{
	background: red;
	
	transform: rotateY(180deg);
}